*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lucida Console", Monaco, monospace;
    width: 100%;
}
.tab-component .tab-list .tab-content{
    margin-top: 3em;
    margin-left: 15em;
}
.tab-list li{
    display: inline-block;
    border: solid red 2px;
    border-radius: 12px 12px 0 0;
    padding: 6px;
}
.tab-list li a{
    text-decoration: none;
}
.tab-content{
    border: solid rosybrown 5px;
}
